body {background-color: rgb(212, 215, 216);}
h2   {color: blue;text-align:center;font-size: 10cap;}
p    {color: red;text-align:center;font-size: 6cap;font-family:sans-serif;border: 20px solid rgb(12, 134, 150);
  padding: 30px;}
